@font-face {
    font-family: Segoe UI;
    src: url(../../fonts/segoe-ui-semilight-2.ttf);
}

@font-face {
    font-family: Segoe;
    src: url(../../fonts/segoe-ui-semibold-2.ttf);
  }
.texto-principal{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: Segoe UI;
}
.texto-bold{
    font-family: Segoe;
}

.titulo{
    font-family: Segoe UI;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.titulo-2{
    font-family: Segoe UI;
    font-size: 1.25rem;
    text-transform: uppercase;
}