.form {
    display: grid;
    grid-template-columns: 1fr;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    border-radius:5px;
    width: 600px;
}
  
  
  .form label {
    text-align: justify;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    background: #f7f7f7;
    border: 1px solid #ededed;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    width: 500px;
    height: 30px;
    box-sizing: border-box;
  }

  .form textarea{
    height: 100px;
  }
  
  .form input[type="text"]:focus,
  .form input[type="email"]:focus,
  .form textarea:focus {
    outline: none;
    border-color: #2128C6;
    background: #fff;
    box-shadow: 0 0 0 2px aqua;
  }

button{
    margin: 0 auto;
    color: #fff;
   font-size: 2rem;
   margin-top: 10px;
   margin-bottom: 10px;
   background-color: rgba(0, 0, 0, 0.0);
   border: none;
   cursor: pointer;
   padding: 20px;
  }
  
  button:hover{
    color: blue;
   
  }
  
